@model IEnumerable<Bangaubong.Models.Mcontact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="clearfix">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-7">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-0 p-0" style="background-color: #f7f7f7">
                                <li class="breadcrumb-item"><a href="~/admin">Bảng điều khiển</a></li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="">Liên hệ</a></li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-5 text-right">

                        <a class="btn btn-danger btn-sm" href="~/admin/contact/trash"><i class="fas fa-trash-alt"></i> Thùng rác</a>

                    </div>
                </div>
            </div>
            <div class="card-block">
                <table class="table table-bordered">
                    <tr>
                        <th>
                            Họ và tên
                        </th>
                        <th>
                            Email
                        </th>

                        <th>
                            Số điện thoại
                        </th>


                        <th>
                            Tiêu đề liên hệ
                        </th>
                        <th>
                            Nội dung
                        </th>

                        <th style="text-align: center"> Chức năng </th>

                        <th>
                            ID
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Detail)
                            </td>

                         
                            <td class="text-center">
                                <a href="~/admin/contact/status/@item.Id">
                                    @Html.Action("ShowStatus", "contact", new { @id = item.Id })
                                </a>

                                <a class="btn btn-sm btn-danger" href="~/admin/contact/Deltrash/@item.Id"><i class="fas fa-trash-alt"></i> Xóa</a>
                            </td> 
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</section>