@model Bangaubong.Models.Mmenu

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="clearfix">
    <div class="container-fluid ">
        <div class="card">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-7">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0" style="background-color:#f7f7f7">
                                    <li class="breadcrumb-item"><a href="~/admin">Bảng điều khiển</a></li>
                                    <li class="breadcrumb-item"><a href="~/admin/menus">Menu</a></li>
                                    <li class="breadcrumb-item active" aria-current="page"><a href="">Thêm Menu</a></li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-5 text-right">
                            <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-save"></i> Lưu lại</button>
                            <a class="btn btn-danger btn-sm" href="~/admin/menus"><i class="fas fa-reply"></i> Thoát</a>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="col-md">
                                    <label>Tên menu</label>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md">
                                    <label>link</label>
                                    @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md">
                                    <label>Ngày cập nhật</label>
                                    @Html.EditorFor(model => model.Updated_at, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Updated_at, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md">
                                    <label>Người cập nhật</label>
                                    @Html.EditorFor(model => model.Updated_by, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Updated_by, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md">
                                    <label>Ngày đăng</label>
                                    @Html.EditorFor(model => model.Created_at, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Created_at, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md">
                                    <label>Người đăng</label>
                                    @Html.EditorFor(model => model.Created_by, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Created_by, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>
                        <div class="col-md-3">

                            <div class="form-group">
                                <div class="col-md">
                                    <label>Cấp cha</label>
                                    @Html.EditorFor(model => model.ParentId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md">
                                    <label>Cấp</label>
                                    @Html.EditorFor(model => model.TableId, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TableId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md">
                                    <label>Vị trí</label>
                                    @Html.EditorFor(model => model.Orders, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Orders, "", new { @class = "text-danger" })
                                </div>
                            </div>
                       
                            <div class="form-group">
                                <div class="col-md">
                                    <label>Trạng thái</label>
                                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            }
        </div>
    </div>
</section>
